
.no-js #timeline>div{
    background:#fff;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #dcd9d9
}
.no-js #timeline>div h3{
    font-size:1.5em;
    font-weight:300;
    color:#374054;
    display:inline-block;
    margin:0
}
.no-js #timeline>div h4{
    font-size:1.2em;
    font-weight:300;
    color:#7e8890;
    margin:0 0 15px 0
}
.no-js #timeline>div p{
    color:#74808a;
    font-size:0.9em;
    margin:0
}
.no-js #timeline:before,.no-js #timeline:after{
    content:none
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    
}

#intro {
    position: relative;
    height: 60vh;
    min-height:500px;
    max-height:1080px;
    background:url(../images/computer.jpg);
    background-size: cover;
    overflow: hidden;
}

#intro-content {
    position: absolute;
    z-index:10;
    top:25%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

#intro-content h1 {
    color:#fff;
    font-weight:500;
    font-size:4em;
    line-height:0.9em;
    letter-spacing:0.03em;
}
#intro-content h2 {
    color:#a0cfee;
    font-weight:200;
    font-size: 2em;
    letter-spacing:0.03em;
    margin-bottom:15px
}

.btn-default {
    background-color:#0066cc;
}

#detail  {
    padding:75px 15px;
    border-bottom:8px solid #dcd9d9
}

#detail h2 {
    color:#374054
}

#detail p{
    color:#74808a;
    margin:0
}

.wrapper {
    width: 100%;
}

#header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding-bottom: 5em;
    text-align: center;
}

#header h1 {
    color: rgb(94, 212, 16);
   
}

body {
    background-color: white;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}


#experience{
    padding:50px 15px;
    text-align:center;
    border-bottom:1px solid #dcd9d9
}
#experience h2{
    color:#374054
}
#timeline{
    margin:30px auto 0 auto;
    position:relative;
    max-width:1000px
}
#timeline:before{
    position:absolute;
    content:'';
    top:0;
    bottom:0;
    left:303px;
    right:auto;
    height:100%;
    width:3px;
    background:#3498db;
    z-index:0
}
#timeline:after{
    position:absolute;
    content:'';
    width:3px;
    height:40px;
    background:#3498db;
    background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));
    top:100%;
    left:303px
}

vtimeline-content{
    margin-left:350px;
    background:#fff;
    border:1px solid #e6e6e6;
    padding:15px;
    border-radius:3px;
    text-align:left
}
.vtimeline-content h3{
    font-size:1.5em;
    font-weight:300;
    color:#374054;
    display:inline-block;
    margin:0
}
.vtimeline-content h4{
    font-size:1.2em;
    font-weight:300;
    color:#7e8890;
    margin:0 0 15px 0
}
.vtimeline-content p{
    color:#74808a;
    font-size:0.9em;
    margin:0
}
.vtimeline-point{
    position:relative;
    display:block;
    vertical-align:top;
    margin-bottom:30px
}
.vtimeline-icon{
    position:relative;
    color:#fff;
    width:50px;
    height:50px;
    background:#3498db;
    border-radius:50%;
    float:left;
    z-index:99;
    margin-left:280px
}
.vtimeline-icon i{
    display:block;
    font-size:2em;
    margin-top:10px
}
.vtimeline-date{
    width:260px;
    text-align:right;
    position:absolute;
    left:0;
    top:10px;
    font-weight:300;
    color:#374054
}